body {
    font-family: Arial, Helvetica, sans-serif;
    font-size: 12px;
    background-color: azure;
}

.alert {
    color: red;
}
.bigger {
    font-size: 1.5em;
}
.center {
    text-align: center;
}
.column {
    float:left;
    width: 20%;
    padding: 10px;
    box-sizing: border-box;
}
.navlist {
    width: 100%;
    display: flex;
    justify-content: space-evenly;
    box-sizing: border-box;
    padding: 10px;
    background: #0055A8;
    font-size: 20px;
    text-align: center;
}
.navlistlink {
    color: white;
}
.red {
    color: red;
}
.row ::after {
    content: "";
    clear: both;
    display: table;
}
table{
    margin-left: 20%;
    font-size: 16px;
    width:50%;
}
table td{
    border-collapse: collapse;
    border: 1px solid black;
    padding: 1%;
}
.namecell{
    text-align: left;
}
.two_columns {
    display: grid;
    grid-template-columns: 1fr 1fr;
}
.three_columns {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
}
/* columns */
.two_columns > * {
    padding:1rem;
}