{% extends "layout2.html" %}

{% block title %}
    Change Password
{% endblock %}

{% block main %}
    <div class="center">
        <br><br>
        <h1>Change your password</h1>

        <form action="" method="post">
            {{ form.hidden_tag() }}
            <!-- <input type=hidden value={{current_user.username}} autocomplete=username />      -->
            <input style="border:none" id="username" name="username" autocomplete="username" value="">
            <p>
                {{ form.oldpassword.label }}<br>
                {{ form.oldpassword(size=32) }}<br>
                {% for error in form.password.errors %}
                    <span style="color: red;">[{{ error }}]</span>
                {% endfor %}
            </p>
            <p>
                {{ form.password.label }}<br>
                {{ form.password(size=32) }}<br>
                {% for error in form.password.errors %}
                    <span style="color: red;">[{{ error }}]</span>
                {% endfor %}
            </p>
            <p>
                {{ form.password2.label }}<br>
                {{ form.password2(size=32) }}<br>
                {% for error in form.password.errors %}
                    <span style="color: red;">[{{ error }}]</span>
                {% endfor %}
            </p>
    
            <p> {{ form.submit() }}</p>
        </form>
    </div>
{% endblock %}