{% extends "layout2.html" %}

{% block title %}
    Options
{% endblock %}

{% block main %}
    <br><br>
    <div class="center">
        <h1>Options:</h1>
        <br>
    </div>
    <div class="row">
        <div class="column">
            <div class="center">
                <h1>SET UP TESTING</h1>
                <p class="bigger"><i class="red">START HERE: </i><a href="/add_test">Add a New Test</a></p>
                <p class="bigger"><a href="/add_student">Enter New Students</a></p>
                <p class="bigger"><a href="/choose_testers">Choose Testers</a></p>
                <p class="bigger"><a href="/choose_high_ranks">Choose High Rank Testers</a></p>
                <p></p>
                <p class="bigger"><a href="/add_school">Add a New School</a></p>
                <p class="bigger"><a href="/add_user">Add a New Instructor</a></p>
            </div>
        </div>
        <div class="column">
            <div class="center">
                <h1>TESTING ACTIONS</h1>
                <p class="bigger"><a href="/test_count/first">Count of Testing</a></p>
                <p class="bigger"><a href="/pattern_count">Pattern Count</a></p>
                <p class="bigger"><a href="/options">***Master Check-in</a></p>
                <p></p>
                <p class="bigger"><a href="/test_count/makeup">Count of Makeup Test</a></p>
            </div>
        </div>
        <div class="column">
            <div class="center">
                <h1>AFTER TESTING</h1>
                <p class="bigger"><a href="/first_pass">Select Passing First Test</a></p>
                <p class="bigger"><a href="/confirm_first_update">Update Rank from First Test</a></p>
                <p class="bigger"><a href="/indiv_first_update">Mark an Individual Passing First Test</a></p>
                <p></p>
                <p></p>
                <p class="bigger"><a href="/makeup_pass">Select Passing Makeup Test</a></p>
            </div>
        </div>
        <div class="column">
            <div class="center">
                <h1>EDITING</h1>
                <p class="bigger"><a href="/edit_test">Edit Latest Test</a></p>
                <p class="bigger"><a href="/choose_instructor">Edit Instructor</a></p>
                <p class="bigger"><a href="/choose_student">Edit Student</a></p>
                <p class="bigger"><a href="/addtest">Add a New Test</a></p>
                <p class="bigger"><a href="/addtest">Add a New Test</a></p>
                <p class="bigger"><a href="/addtest">Add a New Test</a></p>
                <p class="bigger"><a href="/addtest">Add a New Test</a></p>
                <p class="bigger"><a href="/addtest">Add a New Test</a></p>
                <p class="bigger"><a href="/addtest">Add a New Test</a></p>
            </div>
        </div>
    </div>
{% endblock %}