{% extends "layout2.html" %}

{% block title %}
    Options
{% endblock %}

{% block main %}
    <br><br>
    <div class="center">
        <h1>Options:</h1>
        <br>
    </div>
    <div class="row">
        <div class="column">
            <div class="center">
                <h1>SET UP TESTING</h1>
                <h2>&emsp;<a href="/add_test">Add a New Test</a></h2>
                <h2>&emsp;<a href="/add_student">Enter New Students</a></h2>
                <h2>&emsp;<a href="/choose_testers">Choose Testers</a></h2>
                <h2>&emsp;<a href="/choose_high_ranks">Choose High Rank Testers</a></h2>
                <h2>&emsp;<a href="/add_school">Add a New School</a></h2>
            </div>
        </div>
        <div class="column">
            <div class="center">
                <h1>TESTING ACTIONS</h1>
                <h2>&emsp;<a href="/addtest">Add a New Test</a></h2>
                <h2>&emsp;<a href="/addtest">Add a New Test</a></h2>
                <h2>&emsp;<a href="/addtest">Add a New Test</a></h2>
                <h2>&emsp;<a href="/addtest">Add a New Test</a></h2>
            </div>
        </div>
        <div class="column">
            <div class="center">
                <h1>AFTER TESTING</h1>
                <h2>&emsp;<a href="/first_pass">Select Passing First Test</a></h2>
                <h2>&emsp;<a href="/confirm_first_update">Update Rank from First Test</a></h2>
                <h2>&emsp;<a href="/addtest">Make First Pass List****</a></h2>
                <h2>&emsp;<a href="/makeup_pass">Select Passing Makeup Test</a></h2>
                <h2>&emsp;<a href="/addtest">Make Makeup Pass List****</a></h2>
                <h2>&emsp;<a href="/addtest">Make Certificate List****</a></h2>
            </div>
        </div>
        <div class="column">
            <div class="center">
                <h1>EDITING</h1>
                <h2>&emsp;<a href="/addtest">Add a New Test</a></h2>
                <h2>&emsp;<a href="/addtest">Add a New Test</a></h2>
                <h2>&emsp;<a href="/addtest">Add a New Test</a></h2>
                <h2>&emsp;<a href="/addtest">Add a New Test</a></h2>
                <h2>&emsp;<a href="/addtest">Add a New Test</a></h2>
                <h2>&emsp;<a href="/addtest">Add a New Test</a></h2>
                <h2>&emsp;<a href="/addtest">Add a New Test</a></h2>
                <h2>&emsp;<a href="/addtest">Add a New Test</a></h2>
                <h2>&emsp;<a href="/addtest">Add a New Test</a></h2>
            </div>
        </div>
    </div>
{% endblock %}